<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CapaDatos.Properties.Settings.dbSistemaCitasConnectionString"
            connectionString="Data Source=JUANMAVIANA;Initial Catalog=dbSistemaCitas;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>